In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
! pip install -q kaggle
from google.colab import files

files.upload()

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

ref                                                            title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
iamsouravbanerjee/world-population-dataset                     World Population Dataset                             17KB  2022-08-31 11:20:04           9024        273  1.0
thedevastator/mcdonalds-ice-cream-machines-broken-timeseries   McDonalds Ice Cream Machines Breaking - Timeseries  404KB  2022-09-14 23:51:09            812         35  1.0
pantanjali/unemployment-dataset                                Unemployment dataset                                 17KB  2022-09-08 08:26:10           2190         68  1.0
evangower/premier-league-match-data                            Premier League Match Data                             8KB  2022-09-14 18:40:58            527         38  1.0
ariyoomotade/netflix-data-cleaning-analysis-and-visualization  Netflix Data: Cleaning, Analysis and Visualization  270KB  2022-08-26 09:25:43           4612        111  1.0
whenamancodes/world-population-live-dataset                    World Population Live Dataset 2022                   10KB  2022-09-10 11:29:21            980         36  1.0
iamsouravbanerjee/house-rent-prediction-dataset                House Rent Prediction Dataset                        82KB  2022-08-20 13:49:03          13901        340  1.0
deepcontractor/smoke-detection-dataset                         Smoke Detection Dataset                               2MB  2022-08-21 06:29:34           2963         92  1.0
moazzimalibhatti/co2-emission-by-countries-year-wise-17502022  CO2 Emission by countries Year wise (1750-2022)     280KB  2022-09-14 07:43:00            641         42  1.0
wittmannf/top-250-imdb-series-episode-ratings                  Top 250 IMDB Series Episode Ratings in Sept 2022     92KB  2022-09-05 18:44:55            580         25  1.0
advaypatil/youtube-statistics                                  Youtube Statistics                                    2MB  2022-08-26 02:03:19           1927         61  1.0
muhammadadiltalay/imdb-video-games                             IMDB Video Games                                      1MB  2022-09-02 07:15:52           1099         36  0.9705882
kaggleashwin/population-dataset                                World Population by Countries Dataset (1960-2021)    69KB  2022-08-31 05:30:26           1815         77  1.0
csafrit2/latest-global-temperatures                            Latest Global Temperatures                           92KB  2022-09-05 01:10:12            737         28  1.0
surajjha101/fortune-top-1000-companies-by-revenue-2022         Fortune Top 1000 Companies by Revenue 2022           37KB  2022-08-28 06:43:27           1417         56  1.0
anuragbantu/ukraine-invasion-refugee-data-2022                 Ukraine Invasion Refugee data 2022                   19KB  2022-09-15 12:24:39            408         29  1.0
totoro29/air-pollution-level                                   Air Pollution Level                                 394KB  2022-09-09 04:36:03           1031         29  1.0
whenamancodes/data-science-fields-salary-categorization        Data Science Fields Salary Categorization             7KB  2022-09-10 07:53:45            524         29  1.0
fernandoretamales/health-expenditure-and-suicide-rates         Health Expenditure and Suicide Rates [2000-2019]     45KB  2022-09-06 17:37:21            459         26  1.0
sergylog/ab-test-data                                          A/B test data                                        28KB  2022-09-16 17:29:06            182         62  1.0

In [ ]:
!kaggle datasets download -d tsiaras/uk-road-safety-accidents-and-vehicles

Downloading uk-road-safety-accidents-and-vehicles.zip to /content
 95% 135M/142M [00:01<00:00, 156MB/s]
100% 142M/142M [00:01<00:00, 130MB/s]

In [ ]:
! mkdir train
! unzip uk-road-safety-accidents-and-vehicles.zip -d train

Archive:  uk-road-safety-accidents-and-vehicles.zip
  inflating: train/Accident_Information.csv
  inflating: train/Vehicle_Information.csv

In [ ]:
import os
for dirname, _, filenames in os.walk('train'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

train/Accident_Information.csv
train/Vehicle_Information.csv

In [ ]:
acc = pd.read_csv("train/Accident_Information.csv")
acc.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Accident_Index,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year,InScotland
0,200501BS00001,A,3218.0,NaN,0.0,Serious,None,2005-01-04,Tuesday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30.0,17:42,Urban,Raining no high winds,2005,No
1,200501BS00002,B,450.0,C,0.0,Slight,None,2005-01-05,Wednesday,1.0,...,Metropolitan Police,Dry,Dual carriageway,None,30.0,17:36,Urban,Fine no high winds,2005,No
2,200501BS00003,C,0.0,NaN,0.0,Slight,None,2005-01-06,Thursday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30.0,00:15,Urban,Fine no high winds,2005,No
3,200501BS00004,A,3220.0,NaN,0.0,Slight,None,2005-01-07,Friday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30.0,10:35,Urban,Fine no high winds,2005,No
4,200501BS00005,Unclassified,0.0,NaN,0.0,Slight,None,2005-01-10,Monday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30.0,21:13,Urban,Fine no high winds,2005,No

In [ ]:
veh = pd.read_csv("train/Vehicle_Information.csv", encoding='ISO-8859-1')
acc.shape

(2047256, 34)

In [ ]:
df = pd.merge(acc, veh, how = 'inner', on = 'Accident_Index' )
df.columns

Index(['Accident_Index', '1st_Road_Class', '1st_Road_Number', '2nd_Road_Class',
       '2nd_Road_Number', 'Accident_Severity', 'Carriageway_Hazards', 'Date',
       'Day_of_Week', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'Junction_Control', 'Junction_Detail', 'Latitude', 'Light_Conditions',
       'Local_Authority_(District)', 'Local_Authority_(Highway)',
       'Location_Easting_OSGR', 'Location_Northing_OSGR', 'Longitude',
       'LSOA_of_Accident_Location', 'Number_of_Casualties',
       'Number_of_Vehicles', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Police_Force',
       'Road_Surface_Conditions', 'Road_Type', 'Special_Conditions_at_Site',
       'Speed_limit', 'Time', 'Urban_or_Rural_Area', 'Weather_Conditions',
       'Year_x', 'InScotland', 'Age_Band_of_Driver', 'Age_of_Vehicle',
       'Driver_Home_Area_Type', 'Driver_IMD_Decile', 'Engine_Capacity_.CC.',
       'Hit_Object_in_Carriageway', 'Hit_Object_off_Carriageway',
       'Journey_Purpose_of_Driver', 'Junction_Location', 'make', 'model',
       'Propulsion_Code', 'Sex_of_Driver', 'Skidding_and_Overturning',
       'Towing_and_Articulation', 'Vehicle_Leaving_Carriageway',
       'Vehicle_Location.Restricted_Lane', 'Vehicle_Manoeuvre',
       'Vehicle_Reference', 'Vehicle_Type', 'Was_Vehicle_Left_Hand_Drive',
       'X1st_Point_of_Impact', 'Year_y'],
      dtype='object')

In [ ]:
df1 = df[['1st_Road_Class', 'Junction_Detail', "Accident_Index", 'Accident_Severity', 'Carriageway_Hazards', 'Date',
       'Day_of_Week','Latitude', 'Light_Conditions',  'Longitude',
       'LSOA_of_Accident_Location', 'Number_of_Casualties',
       'Number_of_Vehicles', 
       'Road_Surface_Conditions', 'Road_Type', 'Special_Conditions_at_Site',
       'Speed_limit', 'Time', 'Urban_or_Rural_Area', 'Weather_Conditions',
       'Year_x','Age_Band_of_Driver', 'Age_of_Vehicle', 'Engine_Capacity_.CC.', 'Skidding_and_Overturning',  'Vehicle_Type', 'Hit_Object_in_Carriageway', 'Hit_Object_off_Carriageway']]

In [ ]:
df1.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2058408 entries, 0 to 2058407
Data columns (total 28 columns):
 #   Column                      Dtype
---  ------                      -----
 0   1st_Road_Class              object
 1   Junction_Detail             object
 2   Accident_Index              object
 3   Accident_Severity           object
 4   Carriageway_Hazards         object
 5   Date                        object
 6   Day_of_Week                 object
 7   Latitude                    float64
 8   Light_Conditions            object
 9   Longitude                   float64
 10  LSOA_of_Accident_Location   object
 11  Number_of_Casualties        int64
 12  Number_of_Vehicles          int64
 13  Road_Surface_Conditions     object
 14  Road_Type                   object
 15  Special_Conditions_at_Site  object
 16  Speed_limit                 float64
 17  Time                        object
 18  Urban_or_Rural_Area         object
 19  Weather_Conditions          object
 20  Year_x                      int64
 21  Age_Band_of_Driver          object
 22  Age_of_Vehicle              float64
 23  Engine_Capacity_.CC.        float64
 24  Skidding_and_Overturning    object
 25  Vehicle_Type                object
 26  Hit_Object_in_Carriageway   object
 27  Hit_Object_off_Carriageway  object
dtypes: float64(5), int64(3), object(20)
memory usage: 455.4+ MB

### Models 
- Classifying attribute information according to severity 
- Predicting severity of a location using severity index

### Preprocessing

In [ ]:
df1.isnull().sum()

1st_Road_Class                     0
Junction_Detail                    0
Accident_Index                     0
Accident_Severity                  0
Carriageway_Hazards                0
Date                               0
Day_of_Week                        0
Latitude                         124
Light_Conditions                   0
Longitude                        125
LSOA_of_Accident_Location     139207
Number_of_Casualties               0
Number_of_Vehicles                 0
Road_Surface_Conditions            0
Road_Type                          0
Special_Conditions_at_Site         0
Speed_limit                       65
Time                             146
Urban_or_Rural_Area                0
Weather_Conditions                 0
Year_x                             0
Age_Band_of_Driver                 0
Age_of_Vehicle                337962
Engine_Capacity_.CC.          250317
Skidding_and_Overturning           0
Vehicle_Type                       0
Hit_Object_in_Carriageway          0
Hit_Object_off_Carriageway         0
dtype: int64

In [ ]:
df1.dropna(how='any', inplace=True)
df1.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(1588313, 28)

In [ ]:
df1.isnull().sum()

1st_Road_Class                0
Junction_Detail               0
Accident_Index                0
Accident_Severity             0
Carriageway_Hazards           0
Date                          0
Day_of_Week                   0
Latitude                      0
Light_Conditions              0
Longitude                     0
LSOA_of_Accident_Location     0
Number_of_Casualties          0
Number_of_Vehicles            0
Road_Surface_Conditions       0
Road_Type                     0
Special_Conditions_at_Site    0
Speed_limit                   0
Time                          0
Urban_or_Rural_Area           0
Weather_Conditions            0
Year_x                        0
Age_Band_of_Driver            0
Age_of_Vehicle                0
Engine_Capacity_.CC.          0
Skidding_and_Overturning      0
Vehicle_Type                  0
Hit_Object_in_Carriageway     0
Hit_Object_off_Carriageway    0
dtype: int64

In [ ]:
df2 = df1[['Time', 'Day_of_Week', 'Light_Conditions', 'Number_of_Casualties', 'Number_of_Vehicles', 'Road_Surface_Conditions', 'Road_Type', 
          'Speed_limit', 'Urban_or_Rural_Area', 'Weather_Conditions', 'Age_of_Vehicle', 'Engine_Capacity_.CC.',
          'Skidding_and_Overturning', 'Hit_Object_in_Carriageway','Hit_Object_off_Carriageway','Accident_Severity']]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1588313 entries, 0 to 2043670
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Time                        1588313 non-null  object
 1   Day_of_Week                 1588313 non-null  object
 2   Light_Conditions            1588313 non-null  object
 3   Number_of_Casualties        1588313 non-null  int64
 4   Number_of_Vehicles          1588313 non-null  int64
 5   Road_Surface_Conditions     1588313 non-null  object
 6   Road_Type                   1588313 non-null  object
 7   Speed_limit                 1588313 non-null  float64
 8   Urban_or_Rural_Area         1588313 non-null  object
 9   Weather_Conditions          1588313 non-null  object
 10  Age_of_Vehicle              1588313 non-null  float64
 11  Engine_Capacity_.CC.        1588313 non-null  float64
 12  Skidding_and_Overturning    1588313 non-null  object
 13  Hit_Object_in_Carriageway   1588313 non-null  object
 14  Hit_Object_off_Carriageway  1588313 non-null  object
 15  Accident_Severity           1588313 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 206.0+ MB

Encoding categorical values to numerical values

In [ ]:
df2['Hour']=df2['Time'].str[0:2]
df2=df2.dropna(subset=['Hour'])
df2['Hour']=pd.to_numeric(df2['Hour'])
def converthrstocategory(hrs):
    if(hrs<6):
        return 1
    elif(hrs>=6 and hrs<11):
        return 2
    elif(hrs>=11 and hrs<16):
        return 3
    elif(hrs>=16 and hrs<20):
        return 4
    elif(hrs>=20 and hrs<=23):
        return 5
df2['Hrs_category']=df2['Hour'].apply(converthrstocategory)
df2['Hrs_category']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0          4
1          1
2          2
3          5
4          3
          ..
2043662    3
2043663    3
2043665    2
2043667    1
2043670    4
Name: Hrs_category, Length: 1588313, dtype: int64

In [ ]:
df2.drop(['Time','Hour'], axis=1, inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1588313 entries, 0 to 2043670
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Day_of_Week                 1588313 non-null  object
 1   Light_Conditions            1588313 non-null  object
 2   Number_of_Casualties        1588313 non-null  int64
 3   Number_of_Vehicles          1588313 non-null  int64
 4   Road_Surface_Conditions     1588313 non-null  object
 5   Road_Type                   1588313 non-null  object
 6   Speed_limit                 1588313 non-null  float64
 7   Urban_or_Rural_Area         1588313 non-null  object
 8   Weather_Conditions          1588313 non-null  object
 9   Age_of_Vehicle              1588313 non-null  float64
 10  Engine_Capacity_.CC.        1588313 non-null  float64
 11  Skidding_and_Overturning    1588313 non-null  object
 12  Hit_Object_in_Carriageway   1588313 non-null  object
 13  Hit_Object_off_Carriageway  1588313 non-null  object
 14  Accident_Severity           1588313 non-null  object
 15  Hrs_category                1588313 non-null  int64
dtypes: float64(3), int64(3), object(10)
memory usage: 206.0+ MB

In [ ]:
for i in ['Day_of_Week', 'Light_Conditions', 'Road_Surface_Conditions', 'Road_Type', 
          'Urban_or_Rural_Area', 'Weather_Conditions', 
          'Skidding_and_Overturning', 'Hit_Object_in_Carriageway','Hit_Object_off_Carriageway']:
          df2[i] = df2[i].astype('category')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1588313 entries, 0 to 2043670
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Day_of_Week                 1588313 non-null  category
 1   Light_Conditions            1588313 non-null  category
 2   Number_of_Casualties        1588313 non-null  int64
 3   Number_of_Vehicles          1588313 non-null  int64
 4   Road_Surface_Conditions     1588313 non-null  category
 5   Road_Type                   1588313 non-null  category
 6   Speed_limit                 1588313 non-null  float64
 7   Urban_or_Rural_Area         1588313 non-null  category
 8   Weather_Conditions          1588313 non-null  category
 9   Age_of_Vehicle              1588313 non-null  float64
 10  Engine_Capacity_.CC.        1588313 non-null  float64
 11  Skidding_and_Overturning    1588313 non-null  category
 12  Hit_Object_in_Carriageway   1588313 non-null  category
 13  Hit_Object_off_Carriageway  1588313 non-null  category
 14  Accident_Severity           1588313 non-null  object
 15  Hrs_category                1588313 non-null  int64
dtypes: category(9), float64(3), int64(3), object(1)
memory usage: 110.6+ MB

In [ ]:
df2['Accident_Severity'] = df2['Accident_Severity'].astype('category')

In [ ]:
df2 = df2[[c for c in df2 if c not in ['Accident_Severity']] 
       + ['Accident_Severity']]

In [ ]:
y = df2['Accident_Severity']
X = df2.iloc[:,:-1]

In [ ]:
df2.to_csv("data.csv")

In [ ]:
oe = OrdinalEncoder()
oe.fit(X)
X = oe.transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify = y)

In [ ]:
feat = SelectKBest(score_func=chi2, k='all')
feat.fit(X_train, y_train)
X_train = feat.transform(X_train)
X_test = feat.transform(X_test)

# SMOTE

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
X_resampled, y_resampled = SMOTE().fit_resample(X, y)

In [ ]:
print("Before")
print(y.value_counts())
print("After")
print(pd.Series(y_resampled).value_counts())

Before
Slight     1368445
Serious     199235
Fatal        20633
Name: Accident_Severity, dtype: int64
After
Fatal      1368445
Serious    1368445
Slight     1368445
Name: Accident_Severity, dtype: int64

In [ ]:
Xs_train, Xs_test, ys_train, ys_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=1)

In [ ]:
Xs_train.shape

(2873734, 15)

In [ ]:
X_resampled = pd.DataFrame(X_resampled)
y_resampled = pd.DataFrame(y_resampled)
smote = pd.concat([X_resampled, y_resampled], axis=1, join='inner')
smote.to_csv("smote_data.csv")

In [ ]:
df2.head()

,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Speed_limit,Urban_or_Rural_Area,Weather_Conditions,Age_of_Vehicle,Engine_Capacity_.CC.,Skidding_and_Overturning,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Hrs_category,Accident_Severity
0,Wednesday,Darkness - lights lit,1,1,Dry,Dual carriageway,30.0,Urban,Fine no high winds,3.0,8268.0,None,None,None,4,Slight
1,Thursday,Darkness - lights lit,1,2,Dry,Single carriageway,30.0,Urban,Fine no high winds,5.0,8300.0,None,Parked vehicle,None,1,Slight
2,Friday,Daylight,1,1,Dry,Single carriageway,30.0,Urban,Fine no high winds,4.0,1769.0,None,None,None,2,Slight
3,Monday,Darkness - lighting unknown,1,1,Wet or damp,Single carriageway,30.0,Urban,Fine no high winds,10.0,85.0,Skidded,Kerb,None,5,Slight
4,Tuesday,Daylight,1,2,Wet or damp,Single carriageway,30.0,Urban,Raining no high winds,1.0,2976.0,None,None,None,3,Slight

In [ ]:
smote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4105335 entries, 0 to 4105334
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   0                  float64
 1   1                  float64
 2   2                  float64
 3   3                  float64
 4   4                  float64
 5   5                  float64
 6   6                  float64
 7   7                  float64
 8   8                  float64
 9   9                  float64
 10  10                 float64
 11  11                 float64
 12  12                 float64
 13  13                 float64
 14  14                 float64
 15  Accident_Severity  category
dtypes: category(1), float64(15)
memory usage: 473.7 MB

In [ ]:
y_resampled.shape

(4105335, 1)

In [ ]:
X_resampled.shape

(4105335, 15)

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt 
  
X = ['Group A','Group B','Group C','Group D']
Ygirls = [10,20,20,40]
Zboys = [20,30,25,30]
  
X_axis = np.arange(len(X))
  
plt.bar(X_axis - 0.2, Ygirls, 0.4, label = 'Girls')
plt.bar(X_axis + 0.2, Zboys, 0.4, label = 'Boys')
  
plt.xticks(X_axis, X)
plt.xlabel("Groups")
plt.ylabel("Number of Students")
plt.title("Number of Students in each group")
plt.legend()
plt.show()